/* You can add global styles to this file, and also import other style files */
body{
background-image: url("./assets/food-frame-with-asian-dish.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 100%;
margin: 0;
filter: blur(10%)
}